body a {
  color: #1e70bf;
  text-decoration: none
}

body a:visited {
  color: #1e70bf
}

body a:hover {
  text-decoration: underline
}

body code:not(pre>code) {
  background-color: #eee;
  color: #212121;
  border-radius: 0.5em;
  padding: 0.2em;
}

body figcaption {
  color: #666
}

html {
  height: 100%
}

@font-face {
  font-family: "sans-chinese";
  src: local("WenQuanYi Micro Hei"), local("PingFang SC"), local("Noto Sans SC"), local("Noto Sans CJK SC"), local("Source Han Sans CN"), local("Microsoft YaHei"), local("PingFang TC"), local("Noto Sans TC"), local("Noto Sans CJK TC"), local("Source Han Sans TW"), local("Microsoft JhengHei"), local("sans-serif");
  unicode-range: U+2000-FFFF
}

body {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", sans-chinese, monospace;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  padding: 20px 0px;
  font-size: 1.2em;
  text-autospace: normal;
  max-width: 1024px;
  margin: auto;
  overflow-x: hidden;
}

.post-meta {
  text-align: right
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem
}

p {
  margin: 1rem 0
}

li {
  margin: 0.4rem 0
}

*:target {
  background: yellow
}

.w {
  max-width: 900px;
  margin: 0 auto;
  padding: 4rem 2rem
}

.toc {
  border: thin solid black;
  padding: 1rem
}

pre {
  background-color: #eee;
  border-radius: 0.5em;
  color: #212121;
  padding: 1em;
  font-family: 'Menlo', 'Monaco', 'Consolas', 'Lucida Console', 'Courier New',
    'Liberation Mono', 'Ubuntu Mono', 'DejaVu Sans Mono', 'Source Code Pro',
    Courier, 'PingFang SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', monospace;
  overflow-x: auto;
}

.back {
  background-color: #fff;
  padding: 0px;
}

table {
  width: 100%;
}

table,
th,
td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem
}

code:not(pre>code) {
  padding: 0.1em 0.2em;
  font-size: 90%
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%
}

code {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", sans-chinese, monospace
}

blockquote {
  font-style: normal;
  margin-left: 32px;
  border-left: 4px solid #CCC;
  padding-left: 8px
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto
}

figcaption {
  text-align: center;
  opacity: 0.5
}

.tag {
    white-space: nowrap;
}

.ipadding {
  padding: 0px 10px;
}

.padded {
  padding: 0px 20px;
}

.pdf-wrapper {
  border-width:0px;
}

.page {
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  margin: 20px auto;
  display: block;
}

.page svg {
  display: block;
  width: 100%;
  height: auto;
}